oceanbase-ce:
{{%% SERVERS %%}}
  tag: latest
  global: 
    log_disk_size: '240G'
    home_path: /data/{user}/{deploy_name}/observer/{server}
    production_mode: false
    memory_limit: '80G'
    datafile_size: '40G'
  runtime_dependencies:
  - src_path: admin
    target_path: admin
  - src_path: lib
    target_path: lib
  - src_path: tools
    target_path: tools
  - src_path: etc
    target_path: etc
  - src_path: wallet
    target_path: wallet
