[Unit]
Description=oceanbase

[Service]
User=root
Type=forking
ExecStartPre=/usr/libexec/oceanbase/scripts/oceanbase_systemd_pre
ExecStart=/usr/libexec/oceanbase/scripts/oceanbase_systemd_start
TimeoutSec=2000
TimeoutStopSec=300
SuccessExitStatus=SIGKILL
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
LimitSTACK=infinity

[Install]
WantedBy=multi-user.target
