#!/bin/bash
echo "execute post uninstall script"
GREEN='\033[32m'
NC="\033[0m"

if [ $1 -eq 0 ]; then
    echo "rm -rf /var/lib/oceanbase" >> /var/lib/oceanbase/oceanbase_clean.sh
    echo "echo OK" >>  /var/lib/oceanbase/oceanbase_clean.sh

    echo "Clean oceanbase script can clean ob all configuration files and all data files."
    echo -e "${GREEN}To clean OceanBase${NC} : bash /var/lib/oceanbase/oceanbase_clean.sh"
fi
