# These parameters are permanently valid
base-dir=/var/lib/seekdb
data-dir=/var/lib/seekdb/store
redo-dir=/var/lib/seekdb/store/redo

# These parameters are valid only during initialization
port=2881
cpu_count=4
